<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="P3.css" rel="stylesheet">
  <style>
    #login{
      font-size: 20px;
      font-weight: normal;
      margin-left: 480px;
      background-color: transparent;
      text-align: left;
      margin-bottom: 150px;
    }

    #link{
      color: blue;
    }
  </style>
  <title>Community website</title>
</head>

<body onLoad="">

  <!-- Banner -->
  <div id="banner">
    <img src="sports_banners.png" alt="banner" width=1150px>
  </div>

  <!-- Community name -->
  <h1>Amateur and Social Sports Fans</h1>

  <!-- Welcome message -->
  <h2>Welcome to our community!</h2>

  <!-- Login -->

  <form action="/login" method='POST'>

    <div style="margin-top: 70px; margin-left: 300px">
      <label for="username" id="username_txt" style="margin-left: 58px">Email: </label>
      <input type="email" id="username" name="email" required>
    </div>

    <div style="margin-top: 20px; margin-left: 300px">
      <label for="password" id="password_txt" >Password: </label>
      <input type="password" id="password" name="password" required>
      <div id="error"> </div>
    </div>


      <div class="error" style="margin-left: 500px;">
        <% if (messages.error) { %>
        <%= messages.error %>
        <% } %>
      </div>
      <div class=container>
        <button type="submit" id="submitLogin" style="margin-left: 8%">Login</button>
    </div>
    <p id="login" >Not registered? <a id="link" href="/register">Create an account</a></p>

  </form>


</body>

</html>
