<!DOCTYPE html>
<html lang="en">

<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="/stylesheets/main.css" rel="stylesheet">

</head>

<body>


    <div class="tabs">
        <ul class="tabLinks">
          <li>
            <button class="singleLink">
              <span class="linkText" data-text="#1 Tab">Browse</span>
            </button>
          </li>
          <li>
            <button class="singleLink">
              <span class="linkText" data-text="#2 Tab">Edit</span>
            </button>
          </li>

        </ul>
        <ul class="TabContents">
          <li>

            

            <div class="insideContent">

              <div id="header">

                <span id="row1">
                <label for="search">Add filter:</label>
                <select class="select" name="filter" id="filter_menu" >
                    <option value="forname" >Forname</option>
                    <option value="surname" >Surname</option>
                    <option value="sex" >Sex</option>
                    <option value="dataset" >Dataset</option>
                    <option value="father_forname" >Father's forname</option>
                    <option value="father_surname" >Father's surname</option>
                    <option value="mother_forname" >Mother's forname</option>
                    <option value="mother_surname" >Mother's surname</option>
                    <option value="address" >Address</option>
                    <option value="occupation" >Occupation</option>
                    <option value="f_occupation" >Father's occupation</option>
                    <option value="m_occupation" >Mother's occupation</option>
                    <option value="death" >Date of death</option>
                    <option value="marriage" >Place of marriage</option>
                    <option value="p_marriage" >Place of parent's marriage</option>

                </select>
            
                <span id="input">
                    <input type="text" id="search" name="search" >
                </span>
                <button id="search_button">&#x1F50D</button>
                </span>


                <span id="row2">
                <div> 
                    <label id="limit_label" for="limit">Limit:</label>
                    <select class="select" name="limit" id="limit" >
                        <option value=15 >15</option>
                        <option value=30 >30</option>
                        <option value=50 >50</option>
                    </select>
                </div>
              </span>

    
                <span id="row3">
                <div id="count" style="color: #cd5c5c;"></div>
                </span>
                
                <span id="row4">
                <div id="selected_filters_div"></div>
                </span>

                </div>

                <div style="display:none;" id="loader"></div>
                <svg id="svg" width="95%" height="600">
                       
                    <g id="g"></g>
                </svg>
            </div>
          </li>
          <li>

            <div class="insideContent">
                <div id="filter_div">
                    <label  for="list_menu">Choose a list:</label>
                    <select class="select" name="list_menu" id="list_menu" >
                        <option id="default_option_list" selected="true" disabled="disabled">Select a list</option>
                    </select><br>
                </div>

                <svg id="svg2" width="80%" height="600"></svg>
            </div>
            
            <li>
        </ul>
      </div>


    

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="tite_div">
                <h3 id="title">Titulo</h3>
            </div>
            <hr>

            <div class="tab">
                <button class="tablinks1" id="properties_button" >Properties</button>
                <button class="tablinks1" id="relationships_button">Relationships</button>
                <button class="tablinks1" id="notes_button">Notes</button>
              </div>
              <hr>


            <div id="table_div" >
                <table id="table"></table>
                <div id="notes" style="display: none;">
                    <ul id="notes_ul"></ul>
                </div>
            </div>

            <div id="rel_div" >

            </div>


            <hr>


            <div id="view_container">
            <div id="borrar">
                <button id="listButton"  >Add to list</button>
                <button id="createList" >Create list</button>
            </div>

            <div id="create_list_div" style="display: none;">
                <label class="modal_label" style="padding-right: 5px;">List name:</label>
                <input type="text" id="name"  >
                <button id="add" style="margin-left: 30px;">Add</button>
                <h6 id="list_message"></h6>
            </div>
            <div id="dataset_view" style="display: none;">
                <label class="modal_label" style="padding-right: 5px;">Select list:</label>
                <select name="list" id="list_name" >
                    <option id="default_option" selected="true" disabled="disabled">Select a list</option>
                </select>
                <button id="add_list" style="margin-left: 30px;">Add</button>
                <h6 id="list__name_message"></h6>

                <div id="myDropdown" class="dropdown-content">
                </div>
            </div>

            </div>

           <div id="lab_container">
            <div id="list_view">
                <div class="tab" id="list_view_buttons">
                    <button  id="remove"  >Remove from the list</button>
                    <button   id="create_rel" >Create a relationship</button>
                    <button  id="remove_rel" >Remove a relationship</button>
                    <button  id="merge_button" >Merge</button> 
                </div>
            </div>



                <div id="create_relDiv" style="display: none;" >
                    <label class="modal_label" for="person">Choose a person from this list:</label>
                    <select name="person" id="person" >
                        <option id="default_option" selected="true" disabled="disabled">Select a person</option>
                    </select><br>
                    <label class="modal_label" for="relationship">Choose a relationship:</label>
                    <select name="relationship" id="relationship" >
                        <option selected="true" disabled="disabled" style="display: none;" >Select a relationship</option>
                        <option value="mother" >Mother</option>
                        <option value="father" >Father</option>
                        <option value="spouse" >Spouse</option>
                        <option value="children" >Child</option>
                    </select><br>
                    <button id="add_relationship">Add relationship</button>
                </div>

                <div id="remove_relDiv" style="display: none;">
                    <label class="modal_label" for="relationship">Choose a relationship:</label>
                    <select name="relationship" id="relationship_remove" >
                        <option id="select_rel_remove" selected="true" disabled="disabled" style="display: none;" >Select a relationship</option>
                        <option value="mother" >Mother</option>
                        <option value="father" >Father</option>
                        <option value="spouse" >Spouse</option>
                        <option value="children" >Child</option>
                    </select><br>
                    <label class="modal_label" for="person">Choose a person from this list:</label>
                    <select name="person" id="person_remove" >
                        <option id="default_option_remove" selected="true" disabled="disabled">Select a person</option>
                    </select><br>
                    <button id="remove_relationship">Remove relationship</button>
                    
                </div>

                <div id="merge_Div" style="display: none;">
                    <label class="modal_label" for="merge_list">Choose a person:</label>
                    <select name="merge_list" id="merge_select" >
                        <option id="select_merge" selected="true" disabled="disabled" style="display: none;" >Select a relationship</option>
                    </select><br>
                    <button id="merge">Merge</button>
                    
                </div>


                
            </div>
            <div id="notes_text" style="display: none;">
                <label class="modal_label" for="merge_list">Write a note:</label>
                <textarea name="" id="text_box" cols="55" rows="5   "></textarea>
                <button id="add_note" >Add note</button>
            </div>
        </div>

    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="test.js"></script>
</body>
</html>